
  <div class="row pb-5">
    <div class="col-12 text-center">
      <h1>Eat-Da-Burger!</h1>
    </div>
  </div>
<div class="bki">
  <div class="row pb-5">
    <div class="col-6 text-center px-5">
      <h2>Ready to Eat Burgers!</h2>

      <ul class="no-bullets">
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-6 text-center">
      <h2>Burgers in Your Belly!</h2>

      <ul class="no-bullets">
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">

      <h2>Add a Burger</h2>
      <form class="create-form">

        <span class="form-group">
          <label for="ca">Burger Name:</label>
          <input type="text" id="ca" name="name">
        </span>

        <button class="btn-sm btn-info rounded-pill" type="submit">Place Order!</button>
      </form>

    </div>
  </div>
</div>